{% extends 'base.html' %}

{% load static %}

{% block title %} About us | Page {% endblock %}

{% block content %}

<section>
    
  <div class="container main">
    
    <!-- hero section -->
    <div class="row d-flex start-content shadow-3 align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-12">
            <div class="section-ab text-center">
              <h3 style="color: rgb(38, 48, 44);">Mk Interior&decor </h3>                    
              
              <h5 style="color: rgb(38, 48, 44);">We specialize in High end residential & commercial spaces. Bespoken solutions and unique designs</h5>
            </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-12">
          <div class="about" style="color: rgb(38, 48, 44);">
            <h3 style="color: rgb(216, 161, 83); text-align:center;">About Us</h3>
            <p>MK Interiors Ltd provides a design consultancy service from inception to completion. We manage residential projects involving interior renovations, kitchens, bathrooms and all aspects of joinery aiming to meet our client's aspirations and budget expectation. As a professional interior design company we can source materials, furniture, soft furnishings and accessories from a wide range of suppliers in the country and around the world, whilst also drawing access to many specialists in the trade. We can lead the project or work alongside an architect and contractor to create a tailor-made interior that perfectly reflects the client's individuality and vision. Each project should be unique to the client's own personality, style and requirements but with the assistance of a designer's eye.</p>
          </div>
        </div>

    </div>          

</div>                
</section>


{% endblock %}
