<!-- <div class="overlay"></div> -->
        <!-- <div class="h-50" style=""></div> -->
          
        <!-- <div class="container h-50 start-content justify-content-center text-center" style="font-family: 'Young Serif', serif; font-weight:bold;"> -->
          <!-- <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 >MKINTERIORS , we meet all your </h3>
              <h3>Interior Designing needs </h3> -->
              <!-- <p>MK Interiors Ltd provides a design consultancy service from inception to completion. We manage residential projects involving interior renovations, kitchens, bathrooms and all aspects of joinery aiming to meet our client's aspirations and budget expectation. As a professional interior design company we can source materials, furniture, soft furnishings and accessories from a wide range of suppliers in the UK and around the world, whilst also drawing access to many specialists in the trade. We can lead the project or work alongside an architect and contractor to create a tailor-made interior that perfectly reflects the client's individuality and vision. Each project should be unique to the client's own personality, style and requirements but with the assistance of a designer's eye.</p> -->
            <!-- </div> -->
            <!-- <img src="static/images/bbg.jpg" alt="" > -->
            <!-- <div class="col-lg-4">
                jshjsvhavshbaavhkfvaksvhakvhskdavhksh
            </div>
                        -->
          <!-- </div> -->
          
        <!-- </div> -->