 
 
<!-- Footer Start -->
<div class="container-fluid footer py-4 my-3 mb-0 bg-light" style="font-family: 'Young Serif', serif;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="footer-item">
                    <h1 class="text-primary">MKI<span class="text-dark">nteriors-ltd</span></h1>
                    <p class="lh-lg mb-4">You can find us in various social media sites.</p>
                    <div class="footer-icon d-flex">
                        <a href="https://web.facebook.com/profile.php?id=61556198125523&_rdc=1&_rdr" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="fab fa-facebook-f"></i></a>
                        <a href="https://web.facebook.com/Eng.Mike?_rdc=1&_rdr" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.tiktok.com/@mkinterior1" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="fab fa-tiktok"></i></a>
                        <a href="https://www.instagram.com/mi__kail/?hl=en" target="_blank" class="btn btn-primary btn-sm-square me-2 rounded-circle" ><i class="fab fa-instagram"></i></a>
                        
                    </div>
                </div>
            </div>

            

            <div class="col-lg-6 col-md-6">
                <div class="footer-item">
                    <h4 class="mb-4">Contact Us</h4>
                    <div class="d-flex flex-column align-items-start">
                        <p><i class="fa-solid fa-phone text-primary me-2"></i>(+254) 718 473 019</p>                                               
                        <p><i class="fa-solid fa-map-marker-alt text-primary me-2"></i>Moi Avenue, Mombasa, Kenya</p>
                        
                        <p><i class="fa-solid fa-envelope text-primary me-2"></i>Michaelkimanthi02@gmail.com</p>
                        <p><i class="fa-solid fa-clock text-primary me-2"></i> 26/7 Hours Service</p>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="copyright container-fluid py-4" style="font-family: 'Young Serif', serif; background: linear-gradient(to right, rgba(28, 20, 20, 0.9), rgba(66, 97, 98, 0.9), rgba(64, 99, 99, 0.9), rgba(15, 43, 49, 0.9))">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#" target="_blank" class="text-white"><i class="fa-solid fa-copyright me-2 "></i>MKInteriorsltd</a> | All right reserved.</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">                
                Designed By <a class="text-white" href="#" target="_blank">JK Solutions</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-md-square btn-primary rounded-circle back-to-top"
    style="position: fixed;right: 30px;bottom: 30px;z-index: 99;">
    <i class="fa-solid fa-arrow-up"></i>
</a>